@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Delius&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Delius&display=swap');
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-----HEADER-----*/

.logo {
    height: 180px;
    width: 100%;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    height: 160px;
    width: 160px;
}

.iconos {
    height: 30px;
    width: 100%;
    background-color: whitesmoke;
    border-radius: 10px 5px 10px 5px;
    display: flex;
    justify-content: space-around;
    margin: 1px;
}

.Iconos img {
    height: 20px;
    width: 20px;
}


header nav ul {
    display: flex;
    height: 50px;
    width: 100%;
    list-style: none;
    background-color: #4BD2D2;
    justify-content: space-evenly;
    align-items: center;
}


header a {
    font-family: 'Red Hat Text', sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: rgb(20, 19, 19);
    transition: 0.5s;

}

header a:hover {
    color: whitesmoke;
}



/*-----MAIN-----*/


.comienzo {
    background: rgb(196, 154, 235);
    background: radial-gradient(circle, rgba(196, 154, 235, 1) 0%, rgba(216, 165, 231, 0.5049370089832808) 22%, rgba(178, 244, 243, 1) 100%);
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: center;

}


.hero {
    text-align: center;
    width: 100%;
    height: 60vh;
    background-image: url("../img/fondo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.hero h1 {
    color: #050606;
    font-size: 70px;
    font-family: 'Delius', cursive;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.hero h2 {
    text-align: center;
    color: black;
    font-size: 45px;
}

.ingreso{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ingreso span{
    -webkit-text-stroke: 2px white;
    color: black;
    font-family: 'Comic Neue', cursive;
    font-size: 55px;

}

.ingreso p{
    font-family:'Open Sans', sans-serif;
    font-size: 18px;

}

.ingreso a{
    color: black;
    text-decoration: none;
}

.carrusel {
    padding-top: 15px;
    padding-bottom: 20px;
    width: 100%;
}




.variedad{
    font-size: 50px;
    align-items: center;
    color: white;
    text-align: center;
    -webkit-text-stroke: 2px black;
}


.linkeo{
    text-decoration: none;
    color: #14181B;
    background-color: #ebf0f1;
    padding: 5px;
    border-radius: 13px;
    font-size: 25px;
}



.img-carousel {
    width: 100%;
    height: 70vh;
    object-fit: contain;
}

.new span{
    -webkit-text-stroke: 2px black;
    color:white;
    font-family: 'Comic Neue', cursive;
    font-size: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.novedades {
    height: 90vh;
    width: 100%;
    display:flex;
    justify-content:space-evenly;
    align-items: center;

}

.novedades img {
    width: 350px;
    height: 480px;
    padding-bottom: 25px;
    transition: 2s;
}

.novedades img:hover {
    transform: scale(1.1);
}


.novedades h3 {
    text-align: center;
    font-size: 22px;
    height: 27px;
    font-size:'Comic Neue', cursive;
    border-radius: 5px 5px 5px 5px;
    background-color:whitesmoke;
}



.compra{
    font-size: 18px;
    text-decoration:none;
    color: black;
    display: flex;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #0b0b0b;
    border-radius: 50px;
    font-family: Arial, Helvetica, sans-serif;
}




.fixed {
    position:fixed;
    right: 1%;
    padding:5px;
    bottom:100px;
    align-items: center;
    background-color: #F1C9D6;
    width: 200px;
    height: 121 px;
    text-align: center;
    border-radius: 5px 5px 5px 5px;

}

.fixed h2{
    font-family: monospace;
    font-size:13px;
    

}

.fixed label,input {
    font-family: monospace;
    font-size:13px;

}




/*-----FOOTER-----*/


.piedepagina {
    height: 100px;
    background-color: #E6D7EE;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.piepagina {
    color: black;
    font-size: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

.piedepagina img{
    width: 50px;
    height: 50px;
}


/*------------NOSOTROS------*/

.integrantes {
    color: #050606;
    font-size: 35px;
    font-family: 'Delius', cursiva;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
}

.uno img {
    height: 450px;
    width: 330px;
    border: 2px solid black;
    border-radius: 5px 5px 5px 5px;
    grid-area: uno;

}


.dos {
    display: flex;
    text-align: justify;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    grid-area: dos;
    margin-top: 35px;
    margin-right: 80px;
    flex-direction: column;
}


.p1 {
    margin-bottom: 10px;
}

.p2 {
    margin-bottom: 10px;
}

.p3 {
    margin-bottom: 10px;
}

.p4 {
    margin-bottom: 10px;
    font-size: 30px;
}


.nosotros {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "uno dos"
        ".... dos";
}




/*---------CONTACTO-------*/


.formulario {
    background: rgb(196, 154, 235);
    background: radial-gradient(circle, rgba(196, 154, 235, 1) 0%, rgba(216, 165, 231, 0.5049370089832808) 22%, rgba(178, 244, 243, 1) 100%);
    background-size: 100vw 100vh;
    width: 100%;
    height: 100%;
}

.formulario h2 {
    font-family: 'Comic Neue', cursive;
    font-size: 25px;
    text-align: center;
    color: rgb(20, 19, 19);
    padding: 10px;
}

.contacto {
    width: 450px;
    margin: auto;
    padding: 10px 20px 10px 20px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 7px;

}

.contacto input {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
}

.contacto textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}




/*--PREGUNTAS FRECUENTES--*/

.preguntas {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: aliceblue;
}

.preguntas h2 {
    text-align: center;
    color: #050606;
    font-size: 35px;
    font-family: 'Delius', cursiva;
    width: 100%;
    height: 50px;
    margin: 5px 5px 20px 5px;
}

.preguntas div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 10px 30px 20px;
}

.preguntas h3 {
    font-family: 'Red Hat Text', sans-serif;
    font-size: 18px;
    text-decoration: underline;
    color: #2ed0bd;
    margin: 5px 5px;

}

.preguntas ol {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin: 10px 20px;
}

.preguntas p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin: 10px 5px;
}

/*------------TIENDA---------------------------------*/


.catalogo {
    background: rgb(196, 154, 235);
    background: radial-gradient(circle, rgba(196, 154, 235, 1) 0%, rgba(216, 165, 231, 0.5049370089832808) 22%, rgba(178, 244, 243, 1) 100%);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.catalogo h3 {
    text-align: center;
    font-size: 45px;
    font-family: 'Comic Neue', cursive;
    padding: 25px;
}

.catalogo h4 {
    font-size: 23px;
    padding: 10px;
}

.catalogo div a {
    text-decoration: none;
    border: 1px solid rgb(80, 66, 125);
    border-radius: 5px 5px 5px 5px;
    width: 100px;
    height: 50px;
    align-items: center;
    padding: 5px 5px 5px 5px;
    font-size: 15px;
    color: black;
}


.catalogo img {

    height: 64%;
    width: 80%;
    object-fit: cover;
    border: 1px solid black;
    border-radius: 5px 5px 5px 5px;
    transition: 2s;
}

.catalogo img:hover {
    transform: scale(1.1);
}



.grid-gomitas {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "dientes"
        "sandias"
        "regaliz"
        "fresa";
}

.grid-gomitas {
    display: grid;
    width: 100%;
    height: 100%;
    row-gap: 0.5px;
    column-gap: 20px;
    text-align: center;
}



.grid-chocolates {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "alfajor"
        "hershey"
        "kitkat"
        "snicker";
}

.grid-chocolates {
    display: grid;
    width: 100%;
    height: 100%;
    row-gap: 0.5px;
    column-gap: 20px;
    text-align: center;
}





.grid-snacks {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "cheetos"
        "doritos"
        "lays"
        "takis";
}

.grid-snacks {
    display: grid;
    width: 100%;
    height: 100%;
    row-gap: 0.5px;
    column-gap: 20px;
    text-align: center;
}


.grid-box {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "box1"
        "box2"
        "box3"
        "box4";

}

.grid-box {
    display: grid;
    width: 100%;
    height: 100%;
    row-gap: 0.5px;
    column-gap: 20px;
    text-align: center;
}


/*---------MEDIA QUERY------------*/

@media screen and (max-width:596px) {

    .hero h1 {
        font-size: 45px;
        padding-bottom: 15px;
    }
    .ingreso span {
        -webkit-text-stroke: 1px white;
        font-size: 40px;
        text-align: center;
    }

    .ingreso p{
        font-size: 15px;
        text-align: center;

    
    }
    .new span{
        -webkit-text-stroke: 1px black;
        font-size:40px;
    }

    .preguntas h2 {
        font-size: 25px;
    }

    header nav ul {
        flex-direction: column;
        height: 150px;
        background-color: #b86ce0
    }

    .piedepagina {
        flex-direction: column;
        align-content: center;
        text-align: center;
        height: 190px;
    }

    .piedepagina img {
        width: 30px;
        height: 30px;
    }

    .grid-gomitas {
        grid-template-columns: 1fr;
    }

    .grid-chocolates {
        grid-template-columns: 1fr;

    }

    .grid-snacks {
        grid-template-columns: 1fr;

    }

    .grid-box {
        grid-template-columns: 1fr;

    }

    .catalogo img {
        height: 50%;
        width: 60%;
    }
}

@media screen and (max-width:637px) and (min-width:597px) {
    .catalogo h3 {
        font-size: 40px;
    }

    .catalogo h4 {
        font-size: 18px;
    }

    .catalogo div a {
        font-size: 13px;
    }
}



@media screen and (max-width:900px) and (min-width:315px) {
    .hero h2 {
        font-size: 25px;
    }
}

@media screen and (max-width:1130px) {
        .fixed {
            display: none;
        }
}

@media screen and (max-width:720px) {

    .novedades{
        height: 140vh;
        flex-direction: column;
    }


    .novedades img {
        width: 280px;
        height: 360px;
    }
}

@media screen and (max-width:780px){

    .variedad{
        font-size: 30px;
    }

    .linkeo{
        font-size: 15px;
    }
}



/* ME FALTA HACER MEDIA QUERY CONTACTO Y QUIENES SOMOS*/